<div class="awesome-box text-center">
	<h1>The best life tips...</h1>
	<h2>
	"
	<%= @quote.saying %>
	"
	</h2>
	<p>
	- <%= @quote.author %>
	</p>
	<p>
		<%= link_to 'New quote', new_quote_path %>
	</p>
</div>